body {
  font-family: sans-serif;
}
.board {
  display: grid;
  justify-content: center;
}
#boards {
  margin-top: 0.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.field {
  width: 20px;
  height: 20px;
  box-shadow: inset 0 0 1px #000;
  background-color:white;
}
span.alive {
  box-shadow: inset 0 0 3px #fff;
}
#black > .alive {
  background-color: black;
}
#green > .alive {
  background-color: green;
  box-shadow: inset 0 0 2px #000;
}
#blue > .alive {
  background-color: blue;
}
#red > .alive {
  background-color: red;
  box-shadow: inset 0 0 2px #000;
}
.historical {
  background-color: orange; 
}
button {
  margin-bottom: 10px;
}

.pulse {
  animation: pulse-animation 2s infinite;
}
@keyframes pulse-animation {
  0% {
    box-shadow: 0 0 0 0px rgba(255, 255, 0, 1);
  }
  100% {
    box-shadow: 0 0 0 50px rgba(255, 255, 0, 0.2);
  }
}

#controls {
  display: flex;
  gap:0.5rem;
}
