body {
  font-family: sans-serif;
}

#board {
  display: grid;
  margin: auto;
  background: rgb(208, 220, 255);
  background: linear-gradient(
    180deg,
    rgba(208, 220, 255, 1) 0%,
    rgba(235, 241, 255, 1) 18%,
    rgba(255, 255, 255, 1) 100%
  );
}

.field {
  width: 30px;
  height: 30px;
  /* background-color:white; */
  border-radius: 2px;
}

.color-1 {
  background-color: aquamarine;
  box-shadow: inset 0 0 2px #000;
}

.color-2 {
  background-color: greenyellow;
  box-shadow: inset 0 0 2px #000;
}

.color-3 {
  background-color: orange;
  box-shadow: inset 0 0 2px #000;
}

.color-4 {
  background-color: red;
  box-shadow: inset 0 0 2px #000;
}

.color-5 {
  background-color: yellow;
  box-shadow: inset 0 0 2px #000;
}

.color-6 {
  background-color: violet;
  box-shadow: inset 0 0 2px #000;
}

.color-7 {
  background-color: lightblue;
  box-shadow: inset 0 0 2px #000;
}

#game-over {
  display: none;
  margin-top: 1rem;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

#score {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}
